<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>세마고 매칭 시스템</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <h1>HII~~</h1>
        <form action="/post" method="get">
            다음 이름 : <input type="text" name="user" />
            <input type="submit" value="전송하기" />
        </form>
    </body>
</html>
